<div class="container">
  <div class="container__detalhes">
    <p class="container__detalhes__nome">ONG PATA VOLUNTARIA</p>
    <img src="../../../assets/ongs/pata-voluntaria.jpg" alt="" class="container__detalhes__imagem">
    <img src="../../../assets/grupo-animal2.png" alt="" class="container__detalhes__imagem2">
  </div>

  <button class="container__botaoDoar" (click)="doar()" >DOE AGORA</button>

  <div class="container__descricao">
    <p class="container__descricao__texto">Doe a partir de 2 reais agora e ganhe moedas! Além das moedas no jogo você estará ajudando a ONG Pata voluntária a manter mais de 1000! =D</p>
  </div>

  <button class="container__botaoVoltar" (click)="botVoltar()">VOLTAR</button>

</div>
