<div class="container">
  <div class="container__detalhes">
    <p class="container__detalhes__nome">ONG PATA VOLUNTARIA</p>
    <img src="../../../assets/ongs/pata-voluntaria.jpg" alt="" class="container__detalhes__imagem">
    <img src="../../../assets/grupo-animal2.png" alt="" class="container__detalhes__imagem2">
  </div>

  <button class="container__botaoDoar">DOE AGORA</button>

  <div class="container__descricao">
    <p class="container__descricao__texto"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam magni corrupti, laborum blanditiis, facere alias tenetur quisquam deserunt voluptatem assumenda dolores accusantium doloribus voluptatem assumenda dolores accusantium doloribus necessitatibus modi beatae nam, ipsum harum nihil.</p>
  </div>

  <button class="container__botaoVoltar">VOLTAR</button>

</div>
