$preto: rgb(0, 0, 0);
$branco: rgb(255, 255, 255);
$cinza: rgb(34, 34, 34);
$verde: rgb(72,219,66);
$vermelho: rgb(191,22,22);
$laranja: rgb(255,108,0);

@keyframes anim-rot-img{
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(12deg);
    }
    100%{
        transform: rotate(-12deg);
    }
}

@keyframes anim-sca-cont{
    0%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.1);
    }
}

.container{
    
    background: $branco;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    position: relative;
    left: 50%;
    animation: anim-sca-cont 1s infinite;

    .container__imagem{
        width: 27px;
        height: 27px;
        animation: anim-rot-img 1s infinite;
    }
}

.container::after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $branco;
    bottom: -5px;  
    left: 50%;
    transform: translate( -50% );
}