.tabela{
    border: 2px solid black;
    position: absolute;
    // width: 360px;
    // height: 590px;
    width: 100vw;
    height: 92vh;

    .tabela__linha{
        border: 2px solid black;
        
        .tabela__linha__coluna{
            border: 2px solid black;
            width: 72px;
            height: 52px;

            img{
                max-height: 50px;
                max-width: 50px;
            }


        }
    }
}

