<div class="container">

  <div class="container__recursos">
      <img src="../../../assets/recurso.png">
      <div class="container__recursos__nome">Recursos</div>
  </div>

  <div class="container__containerbarra">
    <div class="container__containerbarra__vermenho">
      <div class="container__containerbarra__vermenho__amarelo">
        <div class= "container__containerbarra__vermenho__amarelo__verde">
            
        </div>
      </div>
      <div class="container__containerbarra__indicador"></div>
    </div>

    

    <!-- <div class="barra">
      <div class="indicador"></div>
    </div> -->
  </div>
  

  <div class="container__cuidados">
    <img src="../../../assets/população.png">
    <div class="container__cuidados__nome">Cuidados</div>
  </div>

</div>