$preto: #000000;
$branco: #ffffff;
$cinza: #222222;
$vervelho: #e00101;
$verde: #43e035;
$amarelo: #ffcd61;
$larguraBarra: 65vw;
$larguraFonte: 12px;

.container{
    width: 100vw;
    .recursos{
        position: absolute;
        left: 10px;
        top: 0;
        margin: 0px;
        z-index: 1;
        img{
            position: absolute;
            top: 10px;
            left: 10px;
            width: 38px;
        }
        .nome{
            z-index: -1;
            position: absolute;
            top: 12px;
            left: 25px;
            padding: 0 10px 2px 26px;
            border-radius: 15px 10px 10px 5px;
            width: 40px;
            height: 15px;
            background-color: $branco;
            text-align: center;
            align-self: center;
            font-family: Kalan-Regular;
            font-size: $larguraFonte;
        }
    }
    .containerBarra{
        position: relative;
        top: 10px;
        z-index: -1;
        .barra {
            display: flex;
            justify-content: center;
            padding: 0 10px;
            margin: 20px auto ;
            width: $larguraBarra;
            height: 10px;
            border: 2px solid $cinza;
            border-radius: 15px 15px 15px 15px;
            background: linear-gradient(to right, $vervelho, $amarelo, $verde, $amarelo, $vervelho);
            .indicador{
                width: 5px;
                background-color: $branco;
                height: 15px;
                border-radius: 10px;
                position: relative;
                // O codigo abaixo pra mover o indicador so funciona do valor 50% até o valor 150 mas a barra é responsiva
                left: calc(100% - #{$larguraBarra}); 
                top: 0;
                align-self: center;
            }
        }
    }
    .cuidados{
        position: absolute;
        right: 115px;
        top: 0;
        margin: 0px;
        z-index: 1;
        img{
            position: absolute;
            top: 10px;
            right: -95px;
            width: 38px;
        }
        .nome{
            z-index: -1;
            position: absolute;
            top: 12px;
            padding: 0 26px 2px 10px;
            border-radius: 15px 10px 10px 5px;
            width: 40px;
            height: 15px;
            background-color: $branco;
            text-align: center;
            align-self: center;
            font-family: Kalan-Regular;
            font-size: $larguraFonte;
        }
    }

}

