$Rosa1: #fa005f;
$RosaSombra: #DE003D;

$Vermelho1: #F32E2E;
$Vermelho2: #DF0F0F;
$Vermelho3: #FDACA9;

$Amarelo1: #fae900;
$AmareloBalão: #FFBE00;

$Laranja1: #F56800;
$LaranjaSombra: #E86300;

$Azul1: #00e0ff;
$Azul2: #390be3;
$Azul3: #11438a;
$Azul4: #00418D;
$AzulHover: #B6CAD8;

$Verde2: #a1c21d;
$Verde1: #92C400;

$Preto: #000000;
$Branco: #ffffff;
$Cinza: #222222;
// $larguraBarra: 65vw;
$larguraBarra: 61%;
$larguraFonte: 12px;

.container{
    width: 100vw;
    position: absolute;
    z-index: +1;
    .container__recursos{
        position: absolute;
        left: 10px;
        top: 0;
        margin: 0px;
        z-index: 1;
        img{
            position: absolute;
            top: 10px;
            left: 10px;
            width: 38px;
        }
        .container__recursos__nome{
            z-index: -1;
            position: absolute;
            top: 12px;
            left: 25px;
            padding: 0 10px 2px 26px;
            border-radius: 15px 10px 10px 5px;
            background-color: #ffffff;
            font-family: Bonk;
            font-size: 16px;
            letter-spacing: 1px;
        }
    }
    .container__containerbarra{
        position: relative;
        top: 10px;
        z-index: -1;
        display: flex;
        justify-content: center;

        .container__containerbarra__vermenho{
            display: flex;
            justify-content: center;
            padding: 0 10px;
            margin: 20px auto ;
            width: $larguraBarra;
            height: 10px;
            border: 2px solid $Cinza;
            border-radius: 15px 15px 5px 5px;
            background-color: $Vermelho2;

            .container__containerbarra__vermenho__amarelo{
                background-color: $Laranja1;
                width: 70%;
                display: flex;
                justify-content: center;
                border-radius: 15px 15px 5px 5px;

                .container__containerbarra__vermenho__amarelo__verde{
                    background-color: $Verde1;
                    width: 50%;
                    border-radius: 15px 15px 5px 5px;
                    display: flex;
                    justify-content: center;
                }
            }

            .container__containerbarra__indicador{
                width: 5px;
                background-color: $Branco;
                height: 15px;
                border-radius: 5px;
                position: relative;
                // O codigo abaixo pra mover o indicador so funciona do valor -25% até o valor 75% sendo 25% o valor equivalente ao centro, mas a barra é responsiva
                left: calc(25% - #{$larguraBarra});
                align-self: center;
            }

        }

        

        // .barra {
        //     display: flex;
        //     justify-content: center;
        //     padding: 0 10px;
        //     margin: 20px auto ;
        //     width: $larguraBarra;
        //     height: 10px;
        //     border: 2px solid $cinza;
        //     border-radius: 15px 15px 15px 15px;
        //     background: linear-gradient(to right, $vermelho, $amarelo, $verde, $amarelo, $vervelho);
        //     .indicador{
        //         width: 5px;
        //         background-color: $branco;
        //         height: 15px;
        //         border-radius: 10px;
        //         position: relative;
        //         // O codigo abaixo pra mover o indicador so funciona do valor 50% até o valor 150 mas a barra é responsiva
        //         left: calc(100% - #{$larguraBarra}); 
        //         top: 0;
        //         align-self: center;
        //     }
        // }
    }
    .container__cuidados{
        position: absolute;
        right: 115px;
        top: 0;
        margin: 0px;
        z-index: 1;
        img{
            position: absolute;
            top: 10px;
            right: -95px;
            width: 38px;
        }
        .container__cuidados__nome{
            z-index: -1;
            position: absolute;
            top: 12px;
            left: -14px;
            padding: 0 38px 2px 10px;
            border-radius: 15px 10px 10px 5px;
            width: 40px;
            height: 15px;
            background-color: #ffffff;
            text-align: center;
            align-self: center;
            font-family: Bonk;
            font-size: 16px;
            letter-spacing: 1px;
        }
    }

}

