$Rosa1: #fa005f;
$RosaSombra: #DE003D;

$Vermelho1: #F32E2E;
$Vermelho2: #DF0F0F;
$Vermelho3: #FDACA9;

$Amarelo1: #fae900;
$AmareloBalão: #FFBE00;

$Laranja1: #F56800;
$LaranjaSombra: #E86300;

$Azul1: #00e0ff;
$Azul2: #390be3;
$Azul3: #11438a;
$Azul4: #00418D;
$AzulHover: #B6CAD8;

$Verde2: #a1c21d;
$Verde1: #92C400;

$Preto: #000000;
$Branco: #ffffff;
$Cinza: #222222;


@keyframes animacao-dialogo1{
    0%{
        transform: rotateZ(0%);
    }
    80%{
        transform: rotateZ(0%);
    }
    90%{
        transform: rotateZ(20%);
    }
    100%{
        transform: rotateZ(0%);
    }
}

.dialogo1{
    width: 90%;
    height: 90px;
    margin: auto;
    position: relative;

    .dialogo1__img{
        position: absolute;
        width: 85px;
        z-index: 2;
        right: 0;
    }
    

    .dialogo1__textcontainer{
        position: absolute;
        width: 270px;
        height: 70px;
        background-color: $AmareloBalão;
        z-index: 1;
        transform: translateY(15px);
        border: 2px solid $Laranja1;
        border-radius: 30px 20px 20px 10px;
        box-shadow: 0px 3px $LaranjaSombra;
    }

    .dialogo1__textcontainer__text{
        text-align: center;
        font-family: Lato-BoldItalic;
        font-size: 18px;
        line-height: 25px;
        margin-top: 8px;
        color: $Azul4;
    }
}