.form{
    width: 330px;
    height: 400px;
    background-color: rgb(243, 243, 243);
    border: 2px solid transparent;
    border-radius: 50px 25px 40px 50px;
    text-align: center;
}

.form__title{
    width: 100%;
    background-color: rgb(70, 70, 70);
    border: 2px solid transparent;
    border-radius: 50px 25px 45px 25px;
    text-align: center;
    font-family: Boogaloo;
    font-size: 30px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form__label{
    font-family: Kalan-Regular;
    font-size: 25px;
}